/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #ffcc01;
  transition: all 1s ease;
}

.container-txt {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-txt h1 {
  font-size: 3rem;
}

.container-txt p {
  font-size: 1.5rem;
}

.container-img {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-img img {
  width: 80vw;
  height: 85%;
  object-fit: cover;
  margin-top: 30px;
}
